{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>

    <title>{% block titulo %}{% endblock %}Agenda</title>
    {% include 'partial/_head.html' %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Agenda</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Botao dashboard -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% block nav_home_active %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    {% endblock %}
                    {% block nav_dashboard_active %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    {% endif %}
                    {% endblock %}
                    {% block nav_cadastro_active %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastro' %}">Cadastro</a>
                    </li>
                    {% endblock %}
                    {% block nav_login_active %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endblock %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="container-buttom">
                            <!-- botao para logout -->
                            <a class="logout-button" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Nav Bar -->

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if 'accounts' not in request.path%}
                <br><br>
                <form method="get" action="{% url 'busca' %}">
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" type="text" value="{{ request.GET.termo }}" id="search-input"
                                placeholder="Digite sua pesquisa" name="termo">
                            <br>
                            {% include 'partial/_messages.html'%}
                        </div>
                    </div>
                </form>
                {% endif %}
                {% block conteudo %} {% endblock %}
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>