{% extends 'base.html' %}

{% block nav_dashboard_active %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
    </li>
{% endblock %}

{%block titulo%}Dashboard {{ user.first_name }} | {%endblock%}

{% block conteudo %}

<center>
    <h1 class='mt-3 mb-3'>Olá, {{ user.first_name }} {{ user.last_name }}</h1>
    <p>Você já está logado como {{ user }}, <a href='{% url 'logout' %}'>clique aqui</a> para logout.</p>
    <br>
</center>

{% include 'partial/_messages.html'%}
<div class="container">
    <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <br>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </td>
            </tr>
        </table>
    <form>
</div>

{% endblock conteudo %}
